In [1]:
import functions as f
import bs4 as bs
import re

# =======================================

Da fare:

 - Funzione parsing dates

In [2]:
string = "alchem:1,1321,2265,6441"

In [7]:
def read_dict(path = "./inverted_index.txt"):
    
    dic = dict()
    
    with open(path, "r") as file:
        lines = file.read().splitlines()
        for line in lines:
            key = line.split(":")[0]
            values = line.split(":")[1].split(",")
            dic[key] = values

    return dic

In [8]:
dic = read_dict()

In [10]:
data = f.pd.read_csv("./database.csv")

In [12]:
data[(data["Aired"] == "1930")]

,Unnamed: 0,Type,Episodes,Aired,Members,Users,Score,Ranked,Popularity,Name,Synopsis,Related_Anime,Characters,Voices,Staffs,Roles
9839,9839,Movie,1.0,1930,338,170.0,5.671,9840.0,14184,Roba,A man and his young son travel through the cou...,NaN,NaN,NaN,NaN,NaN

In [13]:
9839//50

196

# ALTRO ===================================================

In [ ]:
date = f.pd.read_csv('./database.csv', parse_dates=["Aired"], date_parser=f.str_to_datetime)["Aired"]

In [2]:
date = f.pd.read_csv('./database.csv')['Aired']

In [ ]:
with open('./dateTime.txt', 'w') as file:
    for d in date:
        file.write(str(f.str_to_datetime(d)))
        file.write('\n')

In [14]:
import nltk