In [1]:
import functions as f
import bs4 as bs
import re

# =======================================

Da fare:

 - Funzione parsing dates

In [11]:
data = f.pd.read_csv("./database.csv", usecols=["Synopsis"])

In [12]:
data

                                                Synopsis
0      After a horrific alchemy experiment goes wrong...
1      Gintoki, Shinpachi, and Kagura return as the f...
2      Seeking to restore humanity's diminishing hope...
3      The self-proclaimed mad scientist Rintarou Oka...
4      Hundreds of years ago, the Chinese Zodiac spir...
...                                                  ...
19123                                                NaN
19124  Takao Ryota is a pervy but well-meaning biker-...
19125                                                NaN
19126  Short special included in the DVD-BOX of Mahou...
19127                                                NaN

[19128 rows x 1 columns]

In [49]:
def preprocessing(string):
    processed_string = []
    stemmer = nltk.SnowballStemmer("english", ignore_stopwords=True)
    words = nltk.word_tokenize(string)
    new_words= [word for word in words if word.isalnum()]
    
    
    for word in new_words:
        processed_string.append(stemmer.stem(word))
        
    processed_string = set(processed_string)
    
    return processed_string

In [94]:
def make_all_preprocessing():
    data = f.pd.read_csv("./database.csv", usecols=["Synopsis"])
    dic = f.collections.defaultdict(list)
    
    for index, synops in f.tqdm(enumerate(data["Synopsis"].array)):
        if(isinstance(synops, str)):
            for word in preprocessing(synops):
                dic[word].append(str(index+1))
    
    with open("./words.txt", "w") as file:
        for key in f.tqdm(dic):
            file.write(key + ":" + ",".join(dic[key]))
            file.write("\n")

In [95]:
make_all_preprocessing()

19128it [00:14, 1316.59it/s]
100%|██████████| 35258/35258 [00:00<00:00, 612057.03it/s]

1,2,3,4

# ALTRO ===================================================

In [ ]:
date = f.pd.read_csv('./database.csv', parse_dates=["Aired"], date_parser=f.str_to_datetime)["Aired"]

In [2]:
date = f.pd.read_csv('./database.csv')['Aired']

In [ ]:
with open('./dateTime.txt', 'w') as file:
    for d in date:
        file.write(str(f.str_to_datetime(d)))
        file.write('\n')

In [14]:
import nltk